---
BasedOnStyle: Mozilla
IndentWidth: '4'
PointerAlignment: Right
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AllowAllArgumentsOnNextLine: 'false'
BinPackArguments: 'true'
BinPackParameters: 'true'

...
